.reviewboardrc
*.pyc
*.pth
*.so
*.o
/log
/checkpoints
/test/results
/.idea
/val/results
/vis/results
.ipynb_checkpoints
/models/backbones/pretrained
*.ninja_deps
*.ninja_log
*.ninja
/extensions/apis/cocoapi/PythonAPI/build
*.png
*.jpg
/build
/dist
/*.egg-info

/docs/build
