.DS_Store
.reviewboardrc
*.pyc
*.conf_bk
*.pth
*.so
*.bmp
*.o
/log
/checkpoints
/results
/.idea
/val/results
/vis/results
.ipynb_checkpoints
/models/backbones/pretrained
*.ninja_deps
*.ninja_log
*.ninja
/extensions/apis/cocoapi/PythonAPI/build
*.png
*.jpg
/build
/dist
/*.egg-info
/exts/apis/cocoapi/PythonAPI/build/
/docs/build
/exts/ops/nms/src/soft_nms_cpu.cpp
